// Specific CSS for your home-page


body {
  font-family: Nunito, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  // background-image: url("wag-vs-rover-850x520.jpg");
}

.container-welcome {
  width: 500px;
  text-align: center;
  color: #F7F6DC;
  position:relative; left:900px; top:200px;
}

// a {
//   color: #F7F6DC;
//   text-decoration: none;
// }

.nav-link {
  color: #F7F6DC;
  text-decoration: none;
  font-weight: bold;
}

.banner-home {
  background-image: url("https://r4.wallpaperflare.com/wallpaper/197/489/305/puppy-leaves-autumn-jumping-wallpaper-708bdf76a3682aa60580c0bedfe47968.jpg");
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
