// Import page-specific CSS files here.
@import "home";

.card-container {
  font-family: Nunito, Helvetica, sans-serif;
  align-items: center;
}

.dog-name{
  align-items: center;
  margin: 5px;
}
.card-text {
  margin: 5px;
}
