<div>
  <ul>
      <% @dogs.each do |dog| %>
        <li><%= dog.name %></li>
        <li><%= dog.age %></li>
        <li><%= dog.location %></li>
        <li><%= dog.price %></li>
      <% end %>
  </ul>
</div>
