 <div class="card-container">
        <% @booking.each do |book| %>
                <h2 class ="dog-name"> <%= book.dog.name %></h2>
                <p>Start-date: <%= book.start_date %></p>
                <p>End-date: <%= book.end_date %></p>
              <h3 class="dog-price"><%= book.dog.price %>€/day</h3>
          <% end %>
    </div>
