<body>
<div class="banner-home">
      <%= image_tag "localdoggywhite.png", class: "logo-doggy-logo"%>
  <div class="container-welcome">
    <div>
      <%# <img class="local-logo" src="https://www.canva.com/design/DAFKax25kKM/hjGLIs2sPObwrSD2kC3zHg/edit?utm_content=DAFKax25kKM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" alt=""> %>
      <h1>Welcome to LocalDoggy</h1>
      <h3>Your exciting doggy experience starts today!</h3>
    </div>
  </div>
</div>
</body>
