<body>
<div class="banner-home">
<div class="container-welcome">
  <div>
    <h1>Welcome to LocalDoggy</h1>
    <h3>Your exciting doggy experience starts today!</h3>
    <h3>Click here to find out more</h3>

  </div>
</div>
    </div>


</div>

</body>
