.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#33b565, #168440);
  height: 70px;
  width: 100%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 1000;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-top: 15px;
  padding: 10px;
  a {
  color: #F7F6DC;
  text-decoration: none;
  }
  a:hover{
    font-size: 20px;
    color: white;
    transition: 0.3s ease;
  }
}

#nav-title {
  font-size: 30px;
  color: #F7F6DC;
  padding-right: 50%;
  font-family: 'Roboto', sans-serif;
}

// .avatar {
// /*   margin-top: 15px;
//   padding: 10px; */
// }

.btn-gradient {
  // color: #000000;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#7FB77E, #619860);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.btn-gradient:hover {
  background: linear-gradient(#80c986, #80c986);
  color: inherit;
  text-decoration: none;
}

.btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: transparent;
}

.dropdown-menu {
  a {
    color: #000000;
  }
}
